__pycache__/

.config/*
!.config/i3/
!.config/polybar/
!.config/ranger/
!.config/vifm/
.config/vifm/vifminfo
!.config/nvim/
!.config/scripts/
!.config/neofetch/
!.config/compton.conf

.local/*
!.local/share
.local/share/*
!.local/share/fonts/
