[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Guake
Comment=guake dropdown
Exec=guake
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

